
.tabs {
    margin: 0px;
    padding: 0;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #ccc;

    li {
        display: inline-block;
        cursor: pointer;
        color: #414141;
        padding: 5px 10px;
        &:first-child {
            margin-left: 10px;
        }
    }
}
